.list{
    display: flex;

    .mainContainer{
        flex: 6;
        height: 100vh;
        overflow:scroll;

        .title{
            padding: 20px;
        }

        .table{
            padding: 20px;
        }
        
    }
}