.commentfield {
  color: dark gray;
  padding-left: 10px;
}

.addComment{
  background-color: #0a91ff37;
  padding: 10px;
  margin-top: 10px;

  h3{
    color: #0a91ff;
  }

  button {
    align-items: right;
  }
}
