.WidgetSkeleton{
    border-radius: 10px;
}

.LineChartSkeleton{
    border-radius: 10px;
    margin: 25px 65px;
}

.PieSkeleton{
    align-items: center;
    justify-content: center;
    margin: 37px 120px 80px;
}

.ScatterSkeleton{
    border-radius: 10px;
    margin: 15px 30px;
}
