.login {
  background-color: #d6edff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .mainContainer {
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    width: 400px;
    height: 350px;
    padding: 30px;

    .logoTitle {
      display: flex;
      justify-content: center;
      padding: 30px 0px;
      font-size: 24px;
      font-weight: bold;
      color: #0a91ff;
    }

    .loginBox {
      padding: 20px;

      .inputDiv {
        display: flex;
        align-items: center;
        justify-content: center;

        .inputBox {
          width: 75%;
          color: black;
          font-size: 14px;
          background: #d6edff3f;
          padding: 10px 20px;
          border: none;
          border-radius: 20px;
          outline: none;
          margin-bottom: 30px;
          text-align: center;
        }

        .button {
          cursor: pointer;
          background: #0a91ff;
          font-size: 14px;
          font-weight: 600;
          border: none;
          border-radius: 20px;
          outline: none;
          color: white;
          padding: 10px 40px;
        }
      }
    }

    .forgotP {
      //cursor: pointer;
      color: gray;
      text-align: center;
      padding-top: 20px;
      font-size: 14px;
    }
  }
}
