.datatable {
  height: 600px;

  .cellAction {
    display: flex;
    align-items: center;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      
      cursor: pointer;
    }
  }

  .status{
    padding: 5px;
    border-radius: 5px;

    &.PREP {
      color: orange;
      background-color: rgba(255, 166, 0, 0.192);
    }
  }
}


